<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Creds Helper</string>
    <key>CFBundleDisplayName</key>
    <string>Creds Helper</string>
    <key>CFBundleIdentifier</key>
    <string>com.amazon.aws.rolesanywhere</string>
    <key>CFBundleVersion</key>
    <string>1.7.1</string>
</dict>
</plist>
