name: Build and Test Credential Helper Docker Image

on:
  push:
    branches: [ main ]

env:
  STAGING_REGISTRY: 264252446756.dkr.ecr.us-east-1.amazonaws.com
  STAGING_REPOSITORY: credential-helper-staging
  AWS_REGION: us-east-1

permissions:
    contents: read
    packages: write
    id-token: write   # This is required for requesting the JWT for AWS authentication

jobs:
  build-and-push:
    name: Build Docker Images and Push to Staging Repository
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            platform: amd64
          - os: ubuntu-24.04-arm
            platform: arm64
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: arn:aws:iam::264252446756:role/GithubActionsAccessRole
          aws-region: ${{ env.AWS_REGION }}
          
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Extract Version from Makefile
        id: extract-version
        run: |
          VERSION=$(grep '^VERSION=' Makefile | cut -d'=' -f2)
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "Extracted version: $VERSION"

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker_image_resources/Dockerfile
          platforms: linux/${{ matrix.platform }}
          push: true
          build-args: |
            VERSION=${{ steps.extract-version.outputs.version }}
          tags: |
            ${{ env.STAGING_REGISTRY }}/${{ env.STAGING_REPOSITORY }}:${{ github.sha }}-${{ matrix.platform }}
          provenance: false # provenance must be disabled in order to prevent manifest creation failures

  test-and-scan:
    name: Test and Scan Docker Images
    needs: build-and-push
    strategy:
      matrix:
        include:
          - os: ubuntu-24.04
            platform: amd64
          - os: ubuntu-24.04-arm
            platform: arm64 
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@master
        with:
          role-to-assume: arn:aws:iam::264252446756:role/GithubActionsAccessRole
          aws-region: ${{ env.AWS_REGION }}
          
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      
      - name: Set up Test Environment
        env:
          PCA_ARN: arn:aws:acm-pca:us-east-1:264252446756:certificate-authority/807cc589-2b5a-4976-a0d8-eeca654e7916 
        run: |
          MAX_PULL_ATTEMPTS=3
          PULL_ATTEMPT=0
          until docker pull ${{ env.STAGING_REGISTRY }}/${{ env.STAGING_REPOSITORY }}:${{ github.sha }}-${{matrix.platform}}; do
              PULL_ATTEMPT=$((PULL_ATTEMPT + 1))
              if [ $PULL_ATTEMPT -ge $MAX_PULL_ATTEMPTS ]; then
                  echo "Failed to pull image after $MAX_PULL_ATTEMPTS attempts"
                  exit 1
              fi
              echo "Pull attempt $PULL_ATTEMPT failed, waiting before retry..."
              sleep 10
          done
            
          echo "REPOSITORY=${{ env.STAGING_REPOSITORY }}" >> $GITHUB_ENV

          mkdir -p docker_image_resources/tests/certs
          
          ./docker_image_resources/tests/scripts/setup-key-and-cert-pca.sh "$PCA_ARN"
          
      - name: Test the ${{matrix.platform}} Docker Image
        env:
          TRUST_ANCHOR_ARN: arn:aws:rolesanywhere:us-east-1:264252446756:trust-anchor/11436419-d765-4a1f-a65e-441a197ed5fc
          PROFILE_ARN: arn:aws:rolesanywhere:us-east-1:264252446756:profile/24a0d47d-9e88-4be8-97fc-a55422105b6c
          ROLE_ARN: arn:aws:iam::264252446756:role/CredentialHelperTestingRole
          VERSION: ${{ github.sha }}-${{matrix.platform}}
          REGISTRY: ${{ env.STAGING_REGISTRY }} # Needed due to test suite using this variable
        run: |
          # Run basic version test
          echo "Testing version command:"
          docker run --rm ${{ env.STAGING_REGISTRY }}/${{ env.STAGING_REPOSITORY }}:${{ github.sha }}-${{matrix.platform}} version

          # Run Integration Tests 
          cd docker_image_resources
          ./tests/run-tests.sh
          
      - name: Install Trivy Image Scanner 
        uses: aquasecurity/setup-trivy@v0.2.0
        with:
          cache: true
          version: v0.63.0

      - name: Scan Docker image with Trivy
        run: |
          IMAGE_REFERENCE="${{ env.STAGING_REGISTRY }}/${{ env.STAGING_REPOSITORY }}:${{ github.sha }}-${{matrix.platform}}"
          ./docker_image_resources/tests/scripts/scan-image.sh "$IMAGE_REFERENCE"
