name: Unit Tests

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  tests:
    name: ${{ matrix.test-target }} (${{ matrix.os }})
    uses: ./.github/workflows/unit_tests_base.yml
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-13, macos-14, windows-2019]
        test-target: [test]
        include:
          - os: ubuntu-24.04
            test-target: test-tpm-signer
          - os: ubuntu-24.04
            test-target: test-pkcs11-signer
          - os: ubuntu-24.04-arm
            test-target: test-tpm-signer
          - os: ubuntu-24.04-arm
            test-target: test-pkcs11-signer
          - os: macos-13
            test-target: test-pkcs11-signer
          - os: macos-14
            test-target: test-pkcs11-signer
    with:
      os: ${{ matrix.os }}
      runner-label: ${{ matrix.os }}
      test-target: ${{ matrix.test-target }}
