name: Unit Tests

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - name: Linux x64
            os: ubuntu-24.04
            tpm: true
            pkcs11: true
          - name: Linux ARM
            os: ubuntu-24.04-arm
            tpm: true
            pkcs11: true
          - name: macOS x64
            os: macos-13
            pkcs11: true
          - name: macOS ARM
            os: macos-14
            pkcs11: true
          - name: Windows
            os: windows-2019
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v30
        if: runner.os != 'Windows'
        with:
          nix_path: nixpkgs=channel:nixos-25.11

      - name: Setup Go
        if: runner.os == 'Windows'
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'

      - name: Setup dbus
        if: runner.os == 'Linux'
        run: |
          sudo mkdir -p /etc/dbus-1
          echo '<!DOCTYPE busconfig PUBLIC "-//freedesktop//DTD D-BUS Bus Configuration 1.0//EN" "http://www.freedesktop.org/standards/dbus/1.0/busconfig.dtd">
          <busconfig>
            <type>session</type>
            <listen>unix:tmpdir=/tmp</listen>
            <policy context="default">
              <allow send_destination="*" eavesdrop="true"/>
              <allow eavesdrop="true"/>
              <allow own="*"/>
            </policy>
          </busconfig>' | sudo tee /etc/dbus-1/session.conf

      - name: Base tests (Linux)
        if: runner.os == 'Linux'
        run: nix-shell nix/shell-base.nix --run 'dbus-run-session -- bash -c "rm -rf tst/swtpm && make test"'

      - name: Base tests (macOS)
        if: runner.os == 'macOS'
        run: nix-shell nix/shell-base.nix --run "rm -rf tst/swtpm && make test"

      - name: Base tests (Windows)
        if: runner.os == 'Windows'
        run: |
          if (Test-Path tst/swtpm) { Remove-Item -Recurse -Force tst/swtpm }
          make test
        shell: pwsh

      - name: TPM tests
        if: matrix.tpm
        run: nix-shell nix/shell-tpm.nix --run 'dbus-run-session -- bash -c "rm -rf tst/swtpm && make test-tpm-signer"'

      - name: PKCS11 tests (Linux)
        if: matrix.pkcs11 && runner.os == 'Linux'
        run: nix-shell nix/shell-pkcs11.nix --run 'dbus-run-session -- bash -c "rm -rf tst/swtpm && make test-pkcs11-signer"'

      - name: PKCS11 tests (macOS)
        if: matrix.pkcs11 && runner.os == 'macOS'
        run: nix-shell nix/shell-pkcs11.nix --run "rm -rf tst/swtpm && make test-pkcs11-signer"
